<p class="lead">Read and Write data to MongoDB via POST</p>
<hr class="my-4">
<% strMyVar = JSON.stringify(myVar, null, 4); %>
<%= strMyVar %>

<script>
// var data = <%- myVar %>;
// alert(<%- strMyVar %>);
// alert(data);
// var mydata = JSON.parse(data);
 // alert(mydata);
 // alert(mydata[0]);
 //
// alert(mydata[1].name);
// alert(mydata[1].age);
</script>



<script>
function randomStr(m) {
	var m = m || 9; s = '', r = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
	for (var i=0; i < m; i++) { s += r.charAt(Math.floor(Math.random()*r.length)); }
	return s;
}
function fillCoords(length){
	var multip = Math.pow(10,length); 
	var randnum = Math.floor(Math.random() * multip);
	return randnum;
}
function randomIntFromInterval(min,max,decimals)
{
    return Number((Math.random()*(max-min)+min).toFixed(decimals));
}
/*
// Area limits (Roma):
// - top-left: 41.9999999, 12.3999999
// - bot-right: 41.7999999, 12.6599999

*/


var coordX = randomIntFromInterval(41.8000000,41.9999999,7);
var coordY = randomIntFromInterval(12.3999999,12.6599999,7);


</script>

<p class="lead">Mongo points in Maps area</p>
<hr class="my-4">

<form action="/mapmongo" method="post" class="form-inline my-2 my-lg-0">
      <input name="name" class="form-control mr-sm-2" placeholder="Point Name" aria-label="Name">
      <input name="coordx" class="form-control mr-sm-2" value="<%= coordX %>" aria-label="CoordX">
      <input name="coordy" class="form-control mr-sm-2" value="<%= coordY %>" aria-label="CoordY">  
      <button id="addItem" class="btn btn-outline-success my-2 my-sm-0" >Add</button>
</form>



<p>theObj: </p>

    <style>
       #map {
        height: 400px;
        width: 100%;
       }
    </style>

    <h3>My Google Maps Demo</h3>
    <div id="map"></div>
    <script>
      function initMap() {
        var roma = {lat: 41.9000000, lng: 12.5299999};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 4,
          center: roma
        });
	
	 	 /*
		 xCoord = mydata[0].loc.coordinates[0];
		 yCoord = mydata[0].loc.coordinates[1];
		 
		 var marker = new google.maps.Marker({ 
		
               		 position: {lat: xCoord, lng: yCoord},
          		map: map
			
       		 });
		*/
	
	
	
	
	/*
		var pointsnum = 10;
	
		for (i = 0; i < pointsnum; i++) { 


			var theX = randomIntFromInterval(41.8000000,41.9999999,7);
			var theY = randomIntFromInterval(12.3999999,12.6599999,7);

			 var marker = new google.maps.Marker({

				 position: {lat: theX, lng: theY},
				map: map

			 });

		 } // fine for 
		
		*/
		
		
      	} // fine initMap
	
    </script>
    
     <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCwBHsazZiwOM_daIT60BctPGfQYWw8T38&callback=initMap">
    </script>
