<!doctype html>
<html lang="en">

<head>
   <%- include(header) %>
</head>

<body>

  <%- include(nav) %>

<div class="jumbotron">
  <h1 class="display-4"><%= title %></h1>


<% if(typeof params !== 'undefined') { %>
    <%- include(content, params) %>
<% } else { %>  
   <%- include(content) %>
<% }  %> 
   
   <%- include(footer) %>
   
   </div>
  
  </body>
</html>
