<!doctype html>
<html lang="en">

<head>
   <%- include(header) %>
</head>

<body>

  <%- include(nav) %>

<div class="jumbotron">
  <h1 class="display-4"><%= title %></h1>
    
<% if(typeof params !== 'undefined' || params == "" ) { 
      var writeParams =[]     
       
      for (var i = 0; i < params.length; i++) {
            var writeParams[i] = Object.entries(params[i])
  %>    
    <p><%= "params[" + i + "]: " + writeParams[i] %></p>
    
 %>            
      } // fine for
 %>
            
   <%- include(content, {myVar:params}) %>             
                
               
<%                           
} else {

%>  
 <p>no params</p>
   <%- include(content) %>
<% }  %> 
   
   <%- include(footer) %>
   
   </div>
  
  </body>
</html>
