<!doctype html>
<html lang="en">

<head>
   <%- include(header) %>
</head>

<body>

  <%- include(nav) %>


    <h1>  <%= title %></h1>
    
    <%- include(content) %>
   

   
   <%- include(footer) %>
  
  </body>
</html>
